header {
  width: 90vw;
  position: absolute;
  top: 5vh;
  left: 5vw;
  display: flex;
  justify-content: space-between;

  h1 {
    font: bole 24px/1 'arial';
    color: #fff;
  }

  .fa-bars {
    font-size: 20px;
    color: #fff;
  }
}